<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>
        Blog
    </title>
</head>
<body>
    <!--Main Start-->
    <div class="main">
        <!--Navbar Start-->
    <nav class="navbar  navbar-expand-lg navbar-dark bg-transparent" style="font-family: 'Luckiest Guy', cursive;">
        <a class="navbar-brand" href="#" style="padding-left: 150px; font-size: 40px; ">Blog Posts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" style="margin-left: 35%; font-size: 20px;">
            <a class="nav-item nav-link active" href="#" id="navicon">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" id="navicon">My Profile</a>
          </div>
        </div>
      </nav>
    <!--Navbar End-->
      <form id="form">
	  <input id="title" type="text" class="default-input" placeholder="Title" />
	  <textarea id="content" placeholder="Write your post" class="default-input"></textarea>
          <input class="btn blue float-right" type="submit" value="Post it!">
      </form>
	<div class="boxlist">

		<strong>Latest updates</strong>

		<ol class="alternating-colors">
		  <li>
		    <strong>Half-Life 2</strong>
		    <p>Fight aliens, wear a head crab, learn about gravity</p>
		  </li>
		  <li>
		    <strong>Halo: Combat Evolved</strong>
		    <p>Fight aliens, wear an AI, learn about screen peeking siblings</p>
		  </li>
		  <li>
		    <strong>Team Fortress 2</strong>
		    <p>Fight non-alien residents, wear hats, learn about teamwork</p>
		  </li>
		  <li>
		    <strong>Tribes</strong>
		    <p>Ski, slip, and slide your way to victory</p>
		  </li>
		</ol>
	</div>
    </div>
        
    <!--Main End-->

      <script>
        fetch('/post/get', {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
            }
        })
          .then(function(response) {
              return response.json()
          })
          .then(function(jsonResponse) {
              console.log(jsonResponse)
          })
          .catch(function() {
            console.log('Echec de chargement')
          })

        const titleInput = document.getElementById('title');
        const contentInput = document.getElementById('content');

        document.getElementById('form').onsubmit = function(e) {
            e.preventDefault();
            const title = titleInput.value;
            const content = contentInput.value;
            fetch('/post/create', {
                method: 'POST',
                body: JSON.stringify({
                    'title': title,
                    'content': content,
                }),
                headers: {
                'Content-Type': 'application/json',
                }
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(jsonResponse) {
    window.location.href = "{{ url_for('show_home') }}"
    
            })
            .catch(function() {
                
            })

            
        }
        
      </script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
