<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up_form.css') }}">
    </head>
    <body>
        <!-- container -->
        <div class="container">
          <!-- form -->
          <form id="form">
            <!-- form heading -->
            <h3>signup</h3>
            <!-- form inputs -->
            <fieldset>
              <label for="name">Username:</label>
              <input type="text" id="username" tabindex="1" required>
            </fieldset>
            <fieldset>
                <label for="phone">Password:</label>
                <input type="password" name="password" id="password" required>
            </fieldset>
           
            <fieldset>
              <button name="submit" type="submit" id="submit">submit</button>
            </fieldset>
            <!-- attribution -->
            <p class="copyright">Already have an account? <a href="https://codepen.io/wbizmo/full/RwMQZmY">login</a></p>
          </form>

          <div id="reply" style="color:white;text-align:center;"></div>
        </div>

        <script>
            const usernameInput = document.getElementById('username');
            const passwordInput = document.getElementById('password');

            document.getElementById('form').onsubmit = function (e) {
                e.preventDefault();
                const username = usernameInput.value;
                const password = passwordInput.value;

                fetch('/signup/submit', {
                    method: 'POST',
                    body: JSON.stringify({
                        'username': username,
                        'password': password,
                    }),
                    headers: {
                    'Content-Type': 'application/json',
                    }
                })
                .then(function(response) {
                    return response.json();
                })
                .then(function(jsonResponse) {

                    const successMessage= document.createElement('SPAN');
                    successMessage.innerHTML = jsonResponse['username'];
                    document.getElementById('reply').appendChild(successMessage);
		    localStorage.setItem("username", jsonResponse['username']);
		    window.location.href = "{{ url_for('show_home') }}"
		    
                })
                .catch(function() {
                    const failMessage= document.createElement('SPAN');
                    failMessage.innerHTML = 'Inscription echouee';
                    document.getElementById('reply').appendChild(failMessage);
                })
            }
        </script>
    </body>
</html>
